In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
rideshares = pd.read_parquet(r'C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\HVFHV_Compressed\Combined\full_compressed_HVFHV_2019_2020.parquet')

In [5]:
rideshares2019Q4night = rideshares.loc[
    (
       ((rideshares['Month'] == 10) |(rideshares['Month'] == 11) | (rideshares['Month'] == 12)) &
    ((rideshares['Year'] == 2019) | (rideshares['Year'] == 2022))
     & (rideshares['Hour']>= 20)
    )
]

In [6]:
rideshares2019Q4night['Date']= pd.to_datetime(rideshares2019Q4night[['Year', 'Month', 'Day']])

C:\Users\EvanSpiller\AppData\Local\Temp\ipykernel_24092\1057290176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rideshares2019Q4night['Date']= pd.to_datetime(rideshares2019Q4night[['Year', 'Month', 'Day']])

In [7]:
rideshares2019Q4night['Day_of_week'] = rideshares2019Q4night['Date'].dt.strftime('%A')

C:\Users\EvanSpiller\AppData\Local\Temp\ipykernel_24092\4045208887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rideshares2019Q4night['Day_of_week'] = rideshares2019Q4night['Date'].dt.strftime('%A')

In [25]:
rideshares2019Q4night

,PULocationID,DOLocationID,Year,Month,Day,Hour,trip_miles_sum,congestion_surcharge_sum,tips_sum,driver_pay_sum,trips,Date,Day_of_week
55522965,1,4,2019,10,11,21,20.750,0.0,0.0,0.00,1,2019-10-11,Friday
55522967,1,4,2019,10,15,20,18.090,0.0,5.0,0.00,1,2019-10-15,Tuesday
55522968,1,4,2019,10,16,23,15.150,0.0,0.0,0.00,1,2019-10-16,Wednesday
55522974,1,13,2019,10,1,22,14.270,0.0,0.0,28.36,1,2019-10-01,Tuesday
55522975,1,13,2019,10,2,23,15.870,0.0,0.0,0.00,1,2019-10-02,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76322137,265,265,2019,12,29,21,1.320,0.0,0.0,9.14,1,2019-12-29,Sunday
76322143,265,265,2019,12,30,22,3.713,0.0,10.0,18.88,1,2019-12-30,Monday
76322144,265,265,2019,12,30,23,8.116,0.0,0.0,0.00,1,2019-12-30,Monday
76322150,265,265,2019,12,31,20,3.915,0.0,2.0,10.89,1,2019-12-31,Tuesday
76322151,265,265,2019,12,31,22,0.730,0.0,0.0,0.00,1,2019-12-31,Tuesday

In [8]:
rideshares2019Q4night = rideshares2019Q4night.loc[
    (
        (rideshares2019Q4night['Day_of_week'] == 'Friday') | 
        (rideshares2019Q4night['Day_of_week'] == 'Saturday') 
    )
]

In [9]:
rideshares2019Q4night

,PULocationID,DOLocationID,Year,Month,Day,Hour,trip_miles_sum,congestion_surcharge_sum,tips_sum,driver_pay_sum,trips,Date,Day_of_week
55522965,1,4,2019,10,11,21,20.75,0.0,0.0,0.00,1,2019-10-11,Friday
55522988,1,14,2019,10,12,22,21.98,0.0,0.0,0.00,1,2019-10-12,Saturday
55523017,1,33,2019,10,12,20,18.49,0.0,0.0,0.00,1,2019-10-12,Saturday
55523029,1,36,2019,10,5,20,32.99,0.0,0.0,62.28,1,2019-10-05,Saturday
55523040,1,37,2019,10,11,21,19.74,0.0,0.0,0.00,1,2019-10-11,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76322044,265,265,2019,12,14,22,2.73,0.0,0.0,15.22,1,2019-12-14,Saturday
76322045,265,265,2019,12,14,23,0.07,0.0,0.0,31.03,1,2019-12-14,Saturday
76322083,265,265,2019,12,20,23,5.01,0.0,0.0,21.07,2,2019-12-20,Friday
76322093,265,265,2019,12,21,22,1.74,0.0,0.0,12.14,1,2019-12-21,Saturday
76322094,265,265,2019,12,21,23,5.95,0.0,0.0,17.43,1,2019-12-21,Saturday

In [3]:
rideshares = pd.read_parquet(r'C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\HVFHV_Compressed\Combined\full_compressed_HVFHV_2022_2023.parquet')
rideshares2022Q4night = rideshares.loc[
    (
       ((rideshares['Month'] == 10) |(rideshares['Month'] == 11) | (rideshares['Month'] == 12)) &
    ((rideshares['Year'] == 2022) | (rideshares['Year'] == 2022))
     & (rideshares['Hour']>= 20)
    )
]
rideshares2022Q4night['Date']= pd.to_datetime(rideshares2022Q4night[['Year', 'Month', 'Day']])
rideshares2022Q4night['Day_of_week'] = rideshares2022Q4night['Date'].dt.strftime('%A')
rideshares2022Q4night = rideshares2022Q4night.loc[
    (
        (rideshares2022Q4night['Day_of_week'] == 'Friday') | 
        (rideshares2022Q4night['Day_of_week'] == 'Saturday') 
    )
]

C:\Users\EvanSpiller\AppData\Local\Temp\ipykernel_24092\1256110584.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rideshares2022Q4night['Date']= pd.to_datetime(rideshares2022Q4night[['Year', 'Month', 'Day']])
C:\Users\EvanSpiller\AppData\Local\Temp\ipykernel_24092\1256110584.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rideshares2022Q4night['Day_of_week'] = rideshares2022Q4night['Date'].dt.strftime('%A')

In [10]:
ridesharesq420192022nightsatsun = pd.concat([rideshares2022Q4night, rideshares2019Q4night], axis=0)

In [11]:
zones = pd.read_csv(r'C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\taxi+_zone_lookup.csv')

In [12]:
ridesharesq420192022nightsatsun = pd.merge(ridesharesq420192022nightsatsun, zones, left_on='DOLocationID', right_on='LocationID', how='inner')

In [13]:
ridesharesq420192022nightsatsun = ridesharesq420192022nightsatsun.loc[ridesharesq420192022nightsatsun['Borough']=='Manhattan',:]

In [14]:
ridesharesq420192022nightsatsun

,PULocationID,DOLocationID,Year,Month,Day,Hour,trip_miles_sum,congestion_surcharge_sum,tips_sum,driver_pay_sum,trips,Date,Day_of_week,LocationID,Borough,Zone,service_zone
18664,3,4,2022,10,15,22,16.975,2.75,0.0,43.36,1,2022-10-15,Saturday,4,Manhattan,Alphabet City,Yellow Zone
18665,4,4,2022,10,1,20,1.288,8.25,0.0,21.40,3,2022-10-01,Saturday,4,Manhattan,Alphabet City,Yellow Zone
18666,4,4,2022,10,1,21,0.850,2.75,3.0,5.47,1,2022-10-01,Saturday,4,Manhattan,Alphabet City,Yellow Zone
18667,4,4,2022,10,1,22,3.070,5.50,0.0,28.34,2,2022-10-01,Saturday,4,Manhattan,Alphabet City,Yellow Zone
18668,4,4,2022,10,1,23,1.641,8.25,0.0,13.43,3,2022-10-01,Saturday,4,Manhattan,Alphabet City,Yellow Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764885,13,105,2022,10,14,20,4.350,2.75,0.0,13.49,1,2022-10-14,Friday,105,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
2764886,55,105,2022,10,21,22,11.870,0.00,0.0,29.53,1,2022-10-21,Friday,105,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
2764887,223,105,2022,10,1,23,12.813,2.75,20.0,34.45,1,2022-10-01,Saturday,105,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
2764888,158,105,2022,12,10,23,3.060,2.75,0.0,27.90,1,2022-12-10,Saturday,105,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone
2764889,230,105,2019,10,19,20,5.100,2.75,0.0,24.79,1,2019-10-19,Saturday,105,Manhattan,Governor's Island/Ellis Island/Liberty Island,Yellow Zone

In [15]:
groupby = ridesharesq420192022nightsatsun.groupby(['PULocationID','Year'])['trips'].sum()

In [16]:
groupby = groupby.unstack()

In [17]:
groupby = groupby.reset_index()

In [20]:
groupby['YoY'] = (groupby[2022] - groupby[2019])/groupby[2019]

In [22]:
groupby['YoY'] = groupby['YoY']*100

In [23]:
groupby

Year  PULocationID     2019     2022        YoY
0                1    135.0      NaN        NaN
1                2      NaN      1.0        NaN
2                3    707.0    723.0   2.263083
3                4  16594.0  14500.0 -12.619019
4                5     37.0     32.0 -13.513514
..             ...      ...      ...        ...
255            260   1824.0   1675.0  -8.168860
256            261  13335.0  12019.0  -9.868766
257            262  15521.0  12393.0 -20.153341
258            263  26208.0  20939.0 -20.104548
259            265     20.0     13.0 -35.000000

[260 rows x 4 columns]

In [24]:
groupby.to_csv(r'C:\Users\EvanSpiller\Documents\DS BootCamp\Capstone\data\nightimeweekendscomparison.csv', index=False)